img {
    width: 100%;
    max-width: 960px;/* chiều rộng của image */
}

@media only screen and (min-width: 1025px) {
    .tablet, .sp {
        display: none;
    }
}

/* Hiển thị cho tablet, nên PC và SP sẽ ẩn */
@media only screen and (max-width:1024px) and (min-width: 641px) {
    .sp, .pc {
        display: none;
    }
}

/* Hiển thị cho SP, nên tablet và PC sẽ ẩn */
@media only screen and (max-width: 640px) {
    .pc, .tablet {
        display: none;
    }
}